* {
    box-sizing: border-box;
    padding: 0; margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background: rgb(212,211,221);
    background: linear-gradient(90deg, rgba(212,211,221,1) 26%, rgba(239,239,187,1) 100%);
}

header {
    margin-top: 50px;
    text-align: center;
    letter-spacing: 10px;
}

.poke-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 50px auto;
    width: 60%;
    justify-content: center;
}

.poke-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    width: 160px;
    background: greenyellow;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.274);
}

.poke-sprite {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 100%;
    height: 120px;
    width: 120px;
}

.identifier {
    padding: 4px 6px;
    background: rgb(223, 223, 223);
    line-height: 50px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
}

.poke-detail {
    text-align: center;
    line-height: 26px;
}

.poke-detail p:nth-child(2) {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.poke-detail p:nth-child(3) {
    font-size: 12px;
    font-weight: 400;
}

.poke-card.grass {
    background: #DEFDE0;
}

.poke-card.fire {
    background: #FDDFDF;
}

.poke-card.electric {
    background: #FCF7DE;
}

.poke-card.water {
    background: #DEF3FD;
}

.poke-card.ground {
    background: #f4e7da;
}

.poke-card.rock {
    background: #d5d5d4;
}

.poke-card.fairy {
    background: #fceaff;
}

.poke-card.poison {
    background: #98d7a5;
}

.poke-card.bug {
    background: #f8d5a3;
}

.poke-card.dragon {
    background: #97b3e6;
}

.poke-card.psychic {
    background: #eaeda1;
}

.poke-card.flying {
    background: #F5F5F5;
}

.poke-card.fighting {
    background: #E6E0D4;
}

.poke-card.normal {
    background: #F5F5F5;
}

.poke-card.ghost {
    background: #705898;
}

.poke-card.ice {
    background: #98d8d8;
}